@import { url('~/platform.css') };

page {
	background-color: white;
	font-size: 17;
}

actionBar {
    color: white;
    background-color: #9e0a18;
}

TextField {
    margin: 10;
    padding: 10; 
}

.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    horizontal-align: center;
    margin: 10;
    padding: 10;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
