@import { url('~/platform.css') };

page {
	background-color: #fff8ed;
	font-size: 17;
}

actionBar {
    color: #fff8ed;
    background-color: #5f0403;
}

TextField {
    margin: 10;
    padding: 10; 
    background-color: white;
    border-radius: 10;
}

.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    background-color: #996022;
    horizontal-align: center;
    margin: 10;
    padding: 10;
    color: #fff8ed;
    height: 50;
    border-radius: 6;
    border-color: #5f0403;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
